* {
  margin: 0;
  padding: 0;
}

body {
  background: #aaa;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem;
}

@media (min-width: 600px) {
  nav {
    flex-direction: row;
  }
}

nav .board_wrapper {
  display: flex;
  justify-content: space-around;
  margin-block: 0.5rem;
}

@media (min-width: 600px) {
  nav .board_wrapper {
    width: 50%;
    justify-content: space-around;
  }
}

nav .board_wrapper select {
  width: 60px;
}

.game {
  margin: auto;
  margin-top: 5vh;
  display: grid;
  width: 100%;
  max-height: 75vh;
  max-width: 75vh;
}

.game .hole_wrapper {
  position: relative;
  display: flex;
}

.game .hole_wrapper img {
  width: 100%;
}

.game .hole_wrapper .hole {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
